

@import "tailwindcss";
@plugin "daisyui";

.article-swiper .swiper-pagination {
    bottom: 0px !important;
}

.article-swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #00332c; 
    opacity: 0.3;
    transition: all 0.3s ease;
}

.article-swiper .swiper-pagination-bullet-active {
    width: 35px; 
    border-radius: 8px;
    background: #16a34a !important; 
    opacity: 1;
}

#my-drawer:checked ~ .drawer-content label span:nth-child(1) {
    transform: rotate(225deg);
    background-color: #ef4444; 
}
#my-drawer:checked ~ .drawer-content label span:nth-child(2) {
    transform: rotate(225deg);
    background-color: #ef4444;
}

label:hover span {
    background-color: #16a34a; 
}

.drawer-side .menu li a {
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}
